body {
  font-family: "Poppins" sans-serif;
  background-color: blanchedalmond;
}

header {
  background-color: wheat;
  width: 70%;
  margin: 0 auto;
}

.text {
  font-size: 200px;
}

.project {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 800px;
}

.footer-container {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: space-between;
}

.link {
  display: block;
}

img {
  width: 100%;
}

.vertical-image {
  width: max-content;
  height: 500px;
  margin: 0 auto;
  display: block;
}
